@import '../../scss/index.scss';

.compex-breadcrumb {
  font-size: $font-size-small;
  line-height: $line-height-small;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $color-grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.compex-breadcrumb > span:last-child .compex-breadcrumb-separator {
  display: none;
}

.compex-breadcrumb a {
  text-decoration: none;
  color: $color-grey;
  transition: color 0.3s;
  cursor: pointer;
}
.compex-breadcrumb a:hover {
  color: $color-blue;
}

.compex-breadcrumb-separator {
  margin: 0 8px;
  color: $color-grey;
}
