@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-small;
  color: $color-black;
  letter-spacing: $letter-spacing-x-small;
}
