$bg-white: #ffffff;
$bg-grey: #f7f7f7;

$color-white: #ffffff;
$color-black: #2e2e2e;
$color-grey: #949494;
$color-blue: #128bfc;
$color-orange: #ee763f;
$color-red: #eb4848;
$color-green: #3ad16c;

$padding-x-small: 12px;
$padding-small: 16px;
$padding-medium: 21px;
$padding-large: 24px;

$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 21px;
$font-size-x-large: 24px;
$font-size-xx-large: 32px;

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;

$line-height-x-small: 18px;
$line-height-small: 21px;
$line-height-regular: 24px;
$line-height-large: 32px;
$line-height-x-large: 36px;
$line-height-xx-large: 48px;

$letter-spacing-x-small: 0.4px;
$letter-spacing-small: 0.6px;
$letter-spacing-regular: 0.8px;
$letter-spacing-large: 1px;
